body {
  color: #333;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #232323;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}

/* Links
------------------------------------ */
a {
  color: #616161;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #0c5adb;
}

.mobile-menu.mean-container {
  overflow: hidden;
}

/* ==================================menu section start============================ */
.sticky-nav {
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
  position: fixed !important;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  -webkit-animation: 300ms running fadeInDown;
  animation: 500ms running fadeInUp;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  transition: 0.5s !important;
  background: #02bfc6 !important;
  z-index: 9999 !important;
  animation-name: slideInDown;
  animation-duration: 1.5s;
}

header {
  position: relative;
  width: 100%;
  z-index: 22;
  margin-bottom: -165px;
}

/* header{
	position: fixed;
    width: 100%;
    z-index: 1;
} */

.menu {
  background: transparent;
  padding: 37px 0px;
}

/* .menu-toggle {
  display: none;
  color: #fff;
  margin-left: 80px;
}

.menu-toggle.active .menu-opened {
  display: block;
}

.menu-toggle.active .menu-closed {
  display: none;
}

.menu-toggle .menu-closed {
  display: block;
}

.menu-toggle .menu-opened {
  display: none;
} */

.menu .menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .menu-content .logo-image {
  padding-left: 80px;
}

.menu .menu-content .main-menu nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.menu .menu-content .main-menu nav ul li a {
  color: #fff;
  padding: 0px 40px;
  display: inline-block;
  margin-bottom: 10px;
  transition: 0.5s;
}

.menu .menu-content .main-menu nav ul li a.active,
.menu .menu-content .main-menu nav ul li a:hover {
  color: #ffba16;
  transition: 0.5s;
}

.menu .menu-content .botton {
  padding-right: 50px;
}

.menu .menu-content .botton a {
  color: #fff;
  padding: 16px 45px;
  background: transparent;
  border: 1px solid #fff;
  transition: 0.5s;
}

.menu .menu-content .botton a:hover {
  background: #ffba16;
  border: 1px solid #ffba16;
  transition: 0.5s;
}

.menu-bar {
  height: 1px;
  width: 100%;
  background: #fff;
}

.icon-box {
  margin-top: -20px;
}

.icon-box .content-wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #02bfc6;
  padding: 18px 0px;
}

.icon-box .content-wraper .text {
  margin-left: 60px;
}

.icon-box .content-wraper .icon {
  margin-right: 100px;
}

.icon-box .content-wraper .icon a {
  display: inline-block;
  padding-right: 22px;
  font-size: 22px;
  color: #fff;
}

.icon-box .content-wraper .date {
  margin-right: 60px;
}

.icon-box .content-wraper .text p {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 900;
}
.icon-box .content-wraper .date p {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  letter-spacing: 1px;
  font-size: 14px;
}

.icon-box .content-wraper span {
  margin: 0px 12px;
}

/* ===========================hero section stsrt============================ */
.hero-section {
  background-image: url("image/trave2l.jpg");
  background-size: cover;
  background-position: center;
  height: 900px;
  position: relative;
}

.hero-section .hero-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-section .hero-content h2 {
  font-size: 80px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 28px;
}

.hero-section .hero-content p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.7;
}

.hero-section .hero-content .hero-button {
  text-align: center;
}

.hero-section .hero-content .hero-button a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 13px 35px;
  margin: 20px 15px;
  transition: 0.5s;
}

.hero-section .hero-content .hero-button a:hover {
  background: #ffba16;
  border: 1px solid #ffba16;
  transition: 0.5s;
}
/* ===========================hero section end============================ */
/* ===========================book section start============================ */

.book-section .row.booking-form-row {
  margin-top: -170px;
}

.book-section .book-content {
  background: #fff;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 50px 80px;
}
.book-section .book-content .book-title {
  position: relative;
}
.book-section .book-content .book-title h3 {
  color: #ffba16;
  font-size: 36px;
  text-align: center;
}
.book-section .book-content .bar {
  height: 1px;
  width: 130px;
  background: #02bfc6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.book-section .book-content .form-area .booking-form-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.book-section .book-content .form-area .booking-form-inner .form-control {
  margin: 0 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding: 5px;
}

.book-section .book-content .form-area .booking-form-inner .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #02bfc6;
  outline: 0;
  box-shadow: none;
}

.book-section .book-content .form-area .booking-form-inner .btn-submit {
  background: #02bfc6;
  border: 1px solid #02bfc6;
  padding: 6px 45px;
  color: #fff;
  transition: 0.5s;
}

.book-section .book-content .form-area .booking-form-inner .btn-submit:hover {
  background: #ffba16;
  border: 1px solid #ffba16;
  transition: 0.5s;
}

/* ===========================book section end============================ */
/* ===========================service section start============================ */
.service-section {
  margin: 120px 0px 0px 0px;
}

.service-section .container-custom {
  max-width: 1575px;
  margin: auto;
}

.service-section .container-custom .text {
  padding-left: 225px;
  position: relative;
}

.service-section .container-custom .text h2 {
  position: relative;
  font-size: 36px;
  font-weight: 800;
  color: #ffba16;
  line-height: 1.3;
  margin-bottom: 47px;
  letter-spacing: 2px;
}
.service-section .container-custom .text h2::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 130px;
  background: #02bfc6;
  bottom: -22px;
  left: 0;
}

.service-section .container-custom .text .bar1 {
  position: absolute;
  height: 1px;
  width: 130px;
  background: #02bfc6;
  left: 29%;
  top: 40%;
}

.service-section .container-custom .text p {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  padding-right: 135px;
}
.service-section .container-custom .text h5 {
  position: relative;
  font-size: 18px;
  color: #02bfc6;
  margin-top: 24px;
  letter-spacing: 1px;
}
.service-section .container-custom .text h5::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 70px;
  background: #02bfc6;
  bottom: 3px;
  margin-left: 10px;
}

.service-section .container-custom .col-md-6 {
  margin-bottom: 30px;
}

.service-section .container-custom .image {
  position: relative;
}

.service-section .container-custom .image::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 191, 198, 0.5);
  opacity: 0;
  transition: 0.5s;
}

.service-section .container-custom .image:hover::before {
  opacity: 1;
  transition: 0.5s;
}

.service-section .container-custom .image:hover .shaddo {
  opacity: 1;
  transition: 0.5s;
}

.service-section .container-custom .image img {
  width: 100%;
}

.service-section .container-custom .image .shaddo {
  position: absolute;
  bottom: 16%;
  left: 13%;
  opacity: 0;
}

.service-section .container-custom .image .shaddo h3 {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}

.service-section .container-custom .image .shaddo .shaddo-bar {
  position: absolute;
  height: 1px;
  width: 170px;
  background: #fff;
  left: -7%;
  bottom: -19%;
}
.service-section.page {
  margin: 120px 0 90px;
}

/* ===========================service section end============================ */
/* ===========================feature section start============================ */
.feature-section {
  padding: 84px 0px 100px;
}

.feature-section .feature-wraper {
  display: flex;
  flex-wrap: wrap;
}

.feature-section .feature-wraper .feture-content {
  position: relative;
  width: 33%;
  padding-left: 20px;
}

.feature-section .feature-wraper .feture-content h3 {
  color: #ffba16;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.feature-section .feature-wraper .feture-content .feature-bar {
  position: absolute;
  height: 1px;
  width: 70px;
  background: #02bfc6;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70%;
}

.feature-section .feature-wraper .feture-content p {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  line-height: 1.7;
}
/* ===========================feature section end============================ */
/* ===========================discount section start============================ */
.discount-section {
  padding-bottom: 120px;
}

.discount-section .col-md-6 {
  padding: 0;
}

.discount-section .discount-wraper {
  position: relative;
}

.discount-section .discount-wraper::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 191, 198, 0.9);
  opacity: 0;
  transition: 0.5s;
}

.discount-section .discount-wraper:hover::before {
  opacity: 1;
  transition: 0.5s;
}

.discount-section .discount-wraper .image img {
  width: 100%;
}

.discount-section .discount-wraper .discount-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  top: 22%;
  opacity: 0;
  transition: 0.5s;
}

.discount-section .discount-wraper:hover .discount-content {
  opacity: 1;
  transition: 0.5s;
}

.discount-section .discount-wraper .discount-content h5 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 55px;
}

.discount-section .discount-wraper .discount-content .discount-bar {
  position: absolute;
  height: 1px;
  width: 100px;
  background: #fff;
  left: 50%;
  bottom: 77%;
  transform: translateX(-50%);
}

.discount-section .discount-wraper .discount-content h2 {
  font-size: 36px;
  color: #fff;
  text-align: center;
  margin: 50px 0px;
}

.discount-section .discount-wraper .button {
  text-align: center;
}

.discount-section .discount-wraper .button a {
  color: #02bfc6;
  padding: 15px 30px;
  background: #fff;
  font-size: 16px;
  display: inline-block;
}

/* ===========================discount section end============================ */
/* ===========================testimonial section start============================ */
.testimonial-section {
  padding: 0 0 96px;
}

.testimonial-section .testimonial-slider {
}

.testimonial-section .testimonial-slider .testi-item .image {
  margin-bottom: 40px;
}

.testimonial-section .testimonial-slider .testi-item .image img {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-section .testimonial-slider .testi-item .test-content p {
  text-align: center;
  font-size: 18px;
  line-height: 1.8;
  padding: 0px 115px;
}

.testimonial-section .testimonial-slider .testi-item .test-content h4 {
  font-size: 24px;
  color: #02bfc6;
  text-align: center;
  margin-top: 25px;
}
/* ===========================testimonial section end============================ */

/* ===========================gallery section start============================ */

.gallery-section {
}

.gallery-section .slider-section {
}

.gallery-section .slider-section .slider-image {
  height: 300px;
  position: relative;
  transition: 0.5s;
}

.gallery-section .slider-section .slider-image::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 191, 198, 0.7);
  transition: 0.5s;
  opacity: 0;
}

.gallery-section .slider-section .slider-image:hover::before {
  opacity: 1;
  transition: 0.5s;
}
/* ===========================gallery section end============================*/
/* ===========================blog section start============================*/
.blog-section {
  margin: 83px 0px 70px 0px;
}
.blog-section.page {
  margin: 0;
  padding: 107px 0 69px;
}
.blog-section .blog-top-content h2 {
  color: #ffba16;
  font-size: 48px;
  text-align: center;
}

.blog-section .blog-top-content p {
  font-size: 16px;
  text-align: center;
  padding: 10px 170px 40px 170px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.7;
}

.blog-section .blog-item {
  margin-bottom: 50px;
}
.blog-section .blog-item .image img {
  width: 100%;
}

.blog-section .blog-item:hover .image::before {
  opacity: 1;
  transition: 0.5s;
}

.blog-section .blog-item .image {
  margin-bottom: 25px;
  position: relative;
}

.blog-section .blog-item .image::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  opacity: 0;
}

.blog-section .blog-item .image img {
  width: 100%;
}

.blog-section .blog-item h3 a {
  color: #ffba16;
  font-size: 24px;
  display: inline-block;
}

.blog-section .blog-item p {
  font-size: 16px;
  margin-top: 20px;
}

.blog-section .blog-item h6 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #02bfc6;
  letter-spacing: 1px;
}

.blog-section .blog-item h6 span {
  padding: 0px 7px;
}

/* ===========================blog section end============================*/
/* ===========================footer section start============================*/
.footer-section {
  background: #026064;
  /* margin-top: 105px; */
}

.footer-section .main-content {
  padding-top: 75px;
}

.footer-section .main-content .image img {
}

.footer-section .main-content p {
  color: #fff;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-right: 25px;
  line-height: 1.8;
}

.footer-section .main-content ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  float: right;
  margin-top: 15px;
}

.footer-section .main-content ul li a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  text-align: end;
  padding-left: 90px;
}

.footer-section .main-content .footer-icon {
  float: right;
}

.footer-section .main-content .footer-icon a {
  display: inline-block;
  color: #fff;
  padding: 7px;
  background: transparent;
  margin: 0px 6px;
  height: 33px;
  width: 33px;
  border: 1px solid #fff;
  line-height: 12px;
  text-align: center;
  display: inline-block;
  margin-top: 35px;
  transition: 0.5s;
}

.footer-section .main-content .footer-icon a:hover {
  color: #02bfc6;
  background: #fff;
  transition: 0.5s;
}

.footer-section .main-content .footer-bar {
  height: 1px;
  width: 100%;
  background: #fff;
}

.footer-section .main-content .cuppy-right p {
  margin: 0px 0px;
  padding: 40px 0px;
  text-align: center;
}
/* ===========================footer section end============================*/

/* ===========================ABOUT PAGE START===========================  */
/* ===========================************===========================  */
/* ===========================about-2 section start============================ */
.about-2-section {
  padding: 25px 0 113px;
}

.about-2-section .about-wraper .left-content .image-wraper {
  position: relative;
  padding-top: 19px;
  z-index: 1;
  left: 32px;
}

.about-2-section .about-wraper .left-content .image-wraper img {
  width: 100%;
}

.about-2-section .about-wraper .left-content .image-wraper::after {
  content: "";
  position: absolute;
  background: #02bfc6;
  left: -30px;
  top: 55px;
  height: 92%;
  width: 95%;
  z-index: -1;
}

.about-2-section .about-wraper .left-content .text-content {
  position: relative;
  margin-top: 53px;
}

.about-2-section .about-wraper .left-content .text-content h5 {
  font-size: 18px;
  margin-top: 27px;
  letter-spacing: 2px;
  font-weight: 700;
}

.about-2-section .about-wraper .left-content .text-content p {
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
}

.about-2-section .about-wraper .left-content .text-content h6 {
  margin-top: 25px;
  letter-spacing: 1px;
}

.about-2-section .about-wraper .left-content .text-content h6 span {
  padding-left: 20px;
}

.about-2-section .about-wraper .left-content .text-content .admin-line {
  position: absolute;
  background: #02bfc6;
  height: 1px;
  width: 101px;
  bottom: 5%;
  left: 38%;
}

.about-2-section .about-wraper .right-content h5 {
  font-size: 18px;
  margin-left: 130px;
  letter-spacing: 1px;
}

.about-2-section .about-wraper .right-content {
  position: relative;
  margin-left: 63px;
}

.about-2-section .about-wraper .right-content .about-bar {
  position: absolute;
  background: #02bfc6;
  height: 1px;
  width: 110px;
  top: 3%;
}

.about-2-section .about-wraper .right-content h2 {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 3px;
  margin-top: 20px;
}

.about-2-section .about-wraper .right-content p {
  line-height: 1.8;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 20px;
  font-size: 16px;
}

.about-2-section .about-wraper .right-content .button {
  margin-top: 50px;
}

.about-2-section .about-wraper .right-content .button a {
  font-size: 18px;
  letter-spacing: 1px;
}

.about-2-section .about-wraper .right-content .more-bar {
  position: absolute;
  background: #02bfc6;
  height: 1px;
  width: 110px;
  bottom: 2%;
  left: 25%;
}
/* ===========================about-2 section end============================ */
/* ===========================ABOUT PAGE END===========================  */
/* ===========================************===========================  */

/* ===========================BLOG PAGE START===========================  */
/* ===========================************===========================  */

/* ===========================hero section start============================*/
.bratecome-section {
  background-image: url("image/inner-page-bg-3.jpg");
  background-size: cover;
  /* background-position: center center; */
  background-repeat: no-repeat;
  position: relative;
  height: 600px;
}

.bratecome-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.bratecome-section .contant {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

.bratecome-section .contant .title h2 {
  font-size: 40px;
  color: #02bfc6;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.bratecome-section .contant .inner-contant ul {
  margin: 0;
  padding: 0;
}

.bratecome-section .contant .inner-contant ul li {
  display: inline-block;
  margin: 0 6px;
  color: #02bfc6;
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.bratecome-section .contant .inner-contant ul li a {
  display: inline-block;
  color: #02bfc6;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.bratecome-section .contant .inner-contant ul li i {
  margin: 0px 6px 0px 13px;
  color: #02bfc6;
}
/* ===========================hero section end============================*/
/* ===========================contact section start============================*/
.contact-section {
  padding: 115px 0px 113px 0px;
}

.contact-section .contact {
  position: relative;
}

.contact-section .contact .title h1 {
  font-size: 19px;
  color: #f4ba48;
  text-align: center;
  margin-bottom: 20px;
}

.contact-section .contact p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 50px;
}

.contact-section .contact .under-line {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #02bfc6;
}

.contact-section .form-section .form-content .main-content .form-title h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 1;
  margin-bottom: 80px;
  margin-top: 0px;
  color: #f4ba48;
}

.contact-section .form-section .form-content .main-content {
  position: relative;
}

.contact-section .main-content .title-undr-line {
  background-color: #02bfc6;
  height: 1px;
  width: 18%;
  position: absolute;
  bottom: -35%;
}

.contact-section .form-section .form-content {
  margin-top: 113px;
}

.contact-section .form-section .form-content .form_box input {
  margin-bottom: 44px;
  border: 0;
  border-bottom: 1px solid #02bfc6;
  outline: 0;
}

.contact-section .form-section .form-content .form_box textarea {
  margin-bottom: 44px;
  border: 0;
  border-bottom: 1px solid #02bfc6;
  outline: 0;
}

.contact-section .form-section .form-content .quote_btn button {
  background-color: #02bfc6;
  border: 1px solid #02bfc6 !important;
  color: #fff;
  font-size: 16px;
  height: 50px;
  width: 200px;
}

.contact-section .form-section .form-content .quote_btn button:hover {
  background-color: #f4ba48;
  border: 1px solid #f4ba48 !important;
  transition: 0.5s;
}

.contact-section .form-section .form-content iframe {
  width: 100%;
}

/* ===========================contact section end============================*/

/* ===========================Sub menu section start============================*/
.site-header .main-menu .menu-item-has-children {
  position: relative;
}
.site-header .main-menu .menu-item-has-children .sub-menu {
  position: absolute;
  display: block;
  width: 250px;
  background-color: #fff;
  border: 1px solid red;
  top: 150%;
  visibility: hidden;
  transition: 0.5s;
  z-index: 2;
}
.site-header .main-menu .menu-item-has-children a:hover + .sub-menu {
  top: 100%;
  visibility: visible;
}
.site-header .main-menu .menu-item-has-children .sub-menu li a {
  display: block;
  padding: 8px 20px;
  color: #333;
}

/* ===========================Sub menu section end============================*/
/* ===========================scroll strat===========================  */
/* ===========================************===========================  */
.scroll-area {
  position: relative;
  z-index: 999;
}

.scroll-area .go-top {
  position: fixed;
  cursor: pointer;
  top: 0;
  right: 30px;
  color: #ffffff;
  background-image: -moz-linear-gradient(0deg, #d1651a 0%, #c1282a 100%);
  background-image: -webkit-linear-gradient(0deg, #d1651a 0%, #c1282a 100%);
  background-image: -ms-linear-gradient(0deg, #d1651a 0%, #c1282a 100%);
  z-index: 9999;
  width: 45px;
  text-align: center;
  height: 45px;
  line-height: 42px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.9s ease-out 0s;
  -moz-transition: all 0.9s ease-out 0s;
  -ms-transition: all 0.9s ease-out 0s;
  -o-transition: all 0.9s ease-out 0s;
  transition: all 0.9s ease-out 0s;
  border-radius: 10px;
}

.scroll-area .go-top i {
  position: absolute;
  top: 50%;
  left: -4px;
  right: 0;
  margin: 0 auto;
  font-size: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.scroll-area .go-top i:last-child {
  opacity: 0;
  visibility: hidden;
  top: 60%;
}

.scroll-area .go-top::before {
  content: "";
  border: 2px solid #ffba16;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  animation: zoomBig 3.25s linear infinite;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.scroll-area .go-top:focus,
.scroll-area .go-top:hover {
  color: #fff;
}

.scroll-area .go-top:focus::before,
.scroll-area .go-top:hover::before {
  opacity: 1;
  visibility: visible;
}

.scroll-area .go-top:focus i:first-child,
.scroll-area .go-top:hover i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.scroll-area .go-top:focus i:last-child,
.scroll-area .go-top:hover i:last-child {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.scroll-area .go-top.active {
  top: 95%;
  -webkit-transform: translateY(-98%);
  -moz-transform: translateY(-98%);
  -ms-transform: translateY(-98%);
  -o-transform: translateY(-98%);
  transform: translateY(-98%);
  opacity: 1;
  visibility: visible;
  border-radius: 0;
  right: 80px;
  border-radius: 100%;
}

.top-wrap {
  position: relative;
}

.top-wrap .go-top-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  top: 3px;
  z-index: 1;
  background-image: -moz-linear-gradient(0deg, #d1651a 0%, #c1282a 100%);
  background: #ffba16;
  background-image: -ms-linear-gradient(0deg, #d1651a 0%, #c1282a 100%);
}

.top-wrap .go-top-button i {
  font-size: 20px;
  font-weight: 700;
  padding-left: 4px;
  color: #fff;
}

.top-wrap .go-top-button::after {
  content: "";
  border: 2px solid #ffba16;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  animation: zoomBig 3.25s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.top-wrap .go-top-button:hover {
  background-color: #ffba16;
  color: #fff;
}

@keyframes zoomBig {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
    border-width: 3px;
  }
  40% {
    opacity: 0.5;
    border-width: 2px;
  }
  65% {
    border-width: 1px;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    border-width: 1px;
  }
}
/* ===========================scroll end===========================  */
/* ===========================************===========================  */

/* =========================Blog-detail page start ========================================= */
/* ================================================================================ */
.blog-detail-section {
  margin-top: 100px;
  margin-bottom: 65px;
}

.blog-detail-section .main-section .top-image img {
  width: 100%;
}

.blog-detail-section .main-section .text-detail {
  position: relative;
}

.blog-detail-section .main-section .text-detail span {
  color: #d46f6f;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
}

.blog-detail-section .main-section .text-detail a {
  color: #d46f6f;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  text-decoration: none;
  display: inline-block;
  padding: 40px 33px 20px 10px;
}

.blog-detail-section .main-section .text-detail p {
  color: #555;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.blog-detail-section .main-section .text-detail h5 {
  margin-top: 10px;
  line-height: 1.3;
  font-weight: 700;
  color: #232323;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  margin-bottom: 15px;
}

.blog-detail-section .main-section .text-detail .block {
  line-height: 1.5;
  background: #f6f6f6;
  font-style: normal;
  color: #232;
  font-weight: 400;
  padding: 26px 34px;
  font-size: 16px;
  border-left: 4px solid #02bfc6;
}

.blog-detail-section .main-section .text-detail h3 {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 700;
  color: #232323;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
}

.blog-detail-section .main-section .text-detail .line {
  padding-top: 40px;
  text-align: left;
  border-top: 1px solid #02bfc6;
  margin-top: 40px;
}

.blog-detail-section .main-section .text-detail .icon a {
  padding: 5px 0px 34px 17px;
  display: inline-block;
}

.blog-detail-section .main-section .text-detail .icon a i {
  border: 1px solid #02bfc6;
  display: inline-block;
  font-size: 15px;
  height: 40px;
  line-height: 41px;
  text-align: center;
  width: 40px;
  border-radius: 5px;
  color: #565872;
  transition: 0.5s;
}

.blog-detail-section .main-section .text-detail .icon a i:hover {
  background: #02bfc6;
  border-color: #02bfc6;
  color: #fff;
  transition: 0.5s;
}

.blog-detail-section .main-section .text-detail .comment-title h3 {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 700;
  color: #232323;
  font-family: "Roboto", sans-serif;
  margin-bottom: 60px;
  margin-top: 70px;
}

.blog-detail-section .main-section .text-detail .left-comment-line {
  height: 1px;
  width: 100px;
  background: #02bfc6;
  right: 53%;
  bottom: 35%;
  position: absolute;
}

.blog-detail-section .main-section .text-detail .form .name input {
  height: 54px;
  background-color: #fff;
  border-color: transparent;
  border: 1px solid #e6e6e6;
  padding: 6px 20px;
  border-radius: 5px;
  width: 44%;
  margin-right: 20px;
}

.blog-detail-section .main-section .text-detail .form .radio {
  margin: 20px 0px 20px 20px;
}

.blog-detail-section .main-section .text-detail .form .radio label {
  padding-left: 10px;
}

.blog-detail-section .main-section .text-detail .form .number input {
  height: 54px;
  background-color: #fff;
  border-color: transparent;
  border: 1px solid #e6e6e6;
  padding: 6px 20px;
  border-radius: 5px;
  width: 44%;
  margin-right: 20px;
}

.blog-detail-section .main-section .text-detail .form textarea {
  height: 130px;
  background-color: #fff;
  border-color: transparent;
  border: 1px solid #e6e6e6;
  padding: 6px 20px;
  border-radius: 5px;
  width: 91%;
  margin: 25px 0px;
}

.blog-detail-section .main-section .text-detail .form .submit input {
  background-color: #02bfc6;
  border: 1px solid #02bfc6 !important;
  color: #fff;
  font-size: 16px;
  height: 65px;
  width: 200px;
  transition: 0.5s;
}

.blog-detail-section .main-section .text-detail .form .submit input:hover {
  background-color: #fff;
  border: 1px solid #d46f6f !important;
  color: #333;
  transition: 0.5s;
}

.blog-detail-section .main-section .right-side {
  position: relative;
}

.blog-detail-section .main-section .right-side input {
  background: #fff none repeat scroll 0 0;
  height: 60px;
  border: 1px solid #ced4da;
  color: #616161;
  width: 100%;
  padding-left: 10px;
  font-size: 18px;
  margin-bottom: 20px;
}

.blog-detail-section .main-section .right-side .icon {
  position: absolute;
  right: 5px;
  top: 10px;
  border: 0;
  background: transparent;
  font-size: 25px;
}

.blog-detail-section .main-section .right-side h2 {
  color: #333333;
  display: block;
  font-size: 24px;
  margin-bottom: 55px;
  margin-top: 30px;
  padding-bottom: 0;
  position: relative;
  text-transform: capitalize;
  line-height: 1.3;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.blog-detail-section .main-section .right-side .line {
  height: 1px;
  width: 100px;
  background: #d46f6f;
  right: 26%;
  top: 19%;
  position: absolute;
}

.blog-detail-section .main-section .right-side .post {
  display: flex;
  margin-bottom: 15px;
}

.blog-detail-section .main-section .right-side .post .text h3 a {
  color: #333;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  text-decoration: none;
  margin-left: 22px;
  text-transform: capitalize;
  font-weight: 700;
}

.blog-detail-section .main-section .right-side .post .text span {
  color: #616161;
  font-size: 15px;
  margin-left: 22px;
}

.blog-detail-section .main-section .right-side h4 {
  color: #333333;
  display: block;
  font-size: 24px;
  margin-bottom: 40px;
  padding-bottom: 0;
  position: relative;
  text-transform: capitalize;
  line-height: 1.3;
  font-weight: 700;
  margin-top: 60px;
}

.blog-detail-section .main-section .right-side .comment-line {
  height: 1px;
  width: 100px;
  background: #d46f6f;
  right: 8%;
  bottom: 2%;
  position: absolute;
}

/*Loader*/

.loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.8s 1s ease;
  z-index: 666;
}
.loader {
  position: relative;
  display: block;
  z-index: 201;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  transition: all 1s 1s ease;
  border: 3px solid transparent;
  border-top-color: #9a241c;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  -o-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
.loader:before {
  position: absolute;
  content: "";
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left-color: #ff3c00;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loader:after {
  position: absolute;
  content: "";
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-right-color: #fff;
  -webkit-animation: spin 2.5s linear infinite;
  -moz-animation: spin 2.5s linear infinite;
  -o-animation: spin 2.5s linear infinite;
  animation: spin 2.5s linear infinite;
}
/* Here comes the Magic */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-wrapper .loder-section {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background: #111;
  z-index: 2;
}
.loader-wrapper .loder-section.left-section {
  left: 0;
  transition: 1s 1.4s ease;
}
.loader-wrapper .loder-section.right-section {
  right: 0;
  transition: 1s 1.4s ease;
}

/* When page loaded */
.loaded .loder-section.left-section {
  left: -100%;
}
.loaded .loder-section.right-section {
  right: -100%;
}
.loaded .loader-wrapper {
  visibility: hidden;
}
.loaded .loader {
  top: -100%;
  opacity: 0;
}
