<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Tour & Hotel Booking HTML5 Template</title>

    <!-- Fonts=== font-family: 'Dosis', sans-serif;  font-family: 'Roboto', sans-serif;-->
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/xxx/css/bootstrap.min.css"
    />

    <!-- owl caurosel -->
    <link
      rel="stylesheet"
      href="https://cdn.bootcdn.net/ajax/libs/OwlCarousel2/2.3.4/xxx/assets/owl.carousel.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.bootcdn.net/ajax/libs/OwlCarousel2/2.3.4/xxx/assets/owl.theme.default.min.css"
    />

    <link rel="stylesheet" href="../../xxx/html/assets/css/all.min.css" />
    <link rel="stylesheet" href="../../xxx/html/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../xxx/html/assets/css/meanmenu.min.css" />

    <!-- Style Css -->
    <link rel="stylesheet" href="../../xxx/html/style.css" class="css" />
    <link rel="stylesheet" href="../../xxx/html/responsive.css" class="css" />
  </head>
  <body>
    <header class="site-header d-md-none d-lg-block d-sm-none d-none">
      <div class="menu" id="sticky-header">
        <div class="container-fluid">
          <div class="menu-content">
            <div class="logo-image">
              <a href="home.html"><img src="../../xxx/html/image/menu-logo.png" alt="" /></a>
            </div>
            <div class="main-menu">
              <nav>
                <ul>
                  <li><a class="active" href="home.html">HOME</a></li>
                  <li><a href="../../statics/html/about.html">ABOUT US</a></li>
                  <li><a href="../../statics/html/service.html">SERVICE</a></li>
                  <li><a href="../../statics/html/destination.html">DESTINATION</a></li>
                  <li><a href="../../statics/html/blog.html">BLOG</a></li>
                  <li><a href="../../statics/html/contact.html">CONTACT</a></li>
                </ul>
              </nav>
            </div>
            <div class="botton">
              <a href="#">GET A QUOTE</a>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-bar"></div>
      <div class="icon-box">
        <div class="container">
          <div class="content-wraper">
            <div class="text">
              <p>Follow Us-</p>
            </div>
            <div class="icon">
              <a href="#"
                ><i class="fa-brands fa-pinterest-p" aria-hidden="true"></i
              ></a>
              <a href="#"
                ><i class="fa-brands fa-x-twitter" aria-hidden="true"></i
              ></a>
              <a href="#"
                ><i class="fa-brands fa-facebook-f" aria-hidden="true"></i
              ></a>
              <a href="#"
                ><i class="fa-brands fa-google-plus-g" aria-hidden="true"></i
              ></a>
            </div>
            <div class="date">
              <p>
                Monday to Friday- 9am to 4pm <span>/</span> info@gmail.com
                <span>/</span> +088 7778888
              </p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="mobile-menu-area d-sm-block d-md-block d-lg-none">
      <div class="mobile-menu">
        <nav class="main-menu">
          <ul>
            <li><a class="active" href="home.html">HOME</a></li>
            <li><a href="../../statics/html/about.html">ABOUT US</a></li>
            <li><a href="../../statics/html/service.html">SERVICE</a></li>
            <li><a href="../../statics/html/destination.html">DESTINATION</a></li>
            <li><a href="../../statics/html/blog.html">BLOG</a></li>
            <li><a href="../../statics/html/contact.html">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- ===========================hero section stsrt============================ -->
    <div class="hero-section">
      <div class="hero-content">
        <h2>Discover The World</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
          suspendisse ultrices gravida.
        </p>
        <div class="hero-button">
          <a href="#">Know More</a>
          <a href="#">Your Tour</a>
        </div>
      </div>
    </div>
    <!-- ===========================hero section end============================ -->
    <!-- ===========================book section start============================ -->
    <div class="book-section">
      <div class="container">
        <div class="row booking-form-row">
          <div class="col-12">
            <div class="book-content">
              <div class="book-title">
                <h3>Book The Tour Of Your Dream</h3>
                <div class="bar"></div>
              </div>
              <div class="form-area">
                <form action="#">
                  <div class="booking-form-inner">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Full Name"
                      required
                    />
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Email"
                      required
                    />
                    <input
                      class="form-control"
                      type="text"
                      placeholder="our Type"
                      required
                    />
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Choose Date"
                      required
                    />
                    <input class="btn-submit" type="submit" value="Book Tour" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ===========================book section end============================ -->
    <!-- ===========================service section start============================ -->
    <div class="service-section">
      <div class="container-custom">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="text">
              <h2>We Provide Our Service <br />All Over The World</h2>
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content
                here, content
              </p>
              <h5>All Destinations</h5>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 align-self-end">
            <div class="image">
              <img src="../../xxx/html/image/service1.jpg" alt="" />
              <div class="shaddo">
                <h3>Maldives</h3>
                <div class="shaddo-bar"></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 align-self-end">
            <div class="image">
              <img src="../../xxx/html/image/service2.jpg" alt="" />
              <div class="shaddo">
                <h3>Maldives</h3>
                <div class="shaddo-bar"></div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="image">
              <img src="../../xxx/html/image/service3.jpg" alt="" />
              <div class="shaddo">
                <h3>Maldives</h3>
                <div class="shaddo-bar"></div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="image">
              <img src="../../xxx/html/image/service4.jpg" alt="" />
              <div class="shaddo">
                <h3>Maldives</h3>
                <div class="shaddo-bar"></div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="image">
              <img src="../../xxx/html/image/service5.jpg" alt="" />
              <div class="shaddo">
                <h3>Maldives</h3>
                <div class="shaddo-bar"></div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="image">
              <img src="../../xxx/html/image/service6.jpg" alt="" />
              <div class="shaddo">
                <h3>Maldives</h3>
                <div class="shaddo-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ===========================service section end============================ -->
    <!-- ===========================feature section start============================ -->
    <div class="feature-section">
      <div class="container">
        <div class="feature-wraper">
          <div class="feture-content">
            <h3>Great Hotels</h3>
            <div class="feature-bar"></div>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using
            </p>
          </div>

          <div class="feture-content">
            <h3>500+ Destinations</h3>
            <div class="feature-bar"></div>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using
            </p>
          </div>

          <div class="feture-content">
            <h3>Fast Booking</h3>
            <div class="feature-bar"></div>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- ===========================feature section end============================ -->
    <!-- ===========================discount section start============================ -->
    <div class="discount-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="discount-wraper">
              <div class="image">
                <img src="../../xxx/html/image/discount1.jpg" alt="" />
              </div>
              <div class="discount-content">
                <h5>Enjoy Your Summer Offer</h5>
                <div class="discount-bar"></div>
                <h2>UP TO 30% DISCOUNT</h2>
                <div class="button">
                  <a href="#">More Detaile</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="discount-wraper">
              <div class="image">
                <img src="../../xxx/html/image/discount2.jpg" alt="" />
              </div>
              <div class="discount-content">
                <h5>Enjoy Your Summer Offer</h5>
                <div class="discount-bar"></div>
                <h2>UP TO 30% DISCOUNT</h2>
                <div class="button">
                  <a href="#">More Detaile</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ===========================discount section end============================ -->
    <!-- ===========================testimonial section start============================ -->
    <div class="testimonial-section">
      <div class="container">
        <div class="testimonial-slider owl-carousel">
          <div class="testi-item">
            <div class="image">
              <img src="../../xxx/html/image/tes.jpg" alt="" />
            </div>
            <div class="test-content">
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content
                here, content
              </p>
              <h4>Jemes Karona</h4>
              <p>Senior Ui/Ux Designer</p>
            </div>
          </div>

          <div class="testi-item">
            <div class="image">
              <img src="../../xxx/html/image/tes.jpg" alt="" />
            </div>
            <div class="test-content">
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content
                here, content
              </p>
              <h4>Jemes Karona</h4>
              <p>Senior Ui/Ux Designer</p>
            </div>
          </div>

          <div class="testi-item">
            <div class="image">
              <img src="../../xxx/html/image/tes.jpg" alt="" />
            </div>
            <div class="test-content">
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content
                here, content
              </p>
              <h4>Jemes Karona</h4>
              <p>Senior Ui/Ux Designer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ===========================testimonial section end============================ -->
    <!-- ===========================gallery section start============================ -->
    <div class="gallery-section">
      <div class="slider-section owl-carousel">
        <div
          class="slider-image"
          style="
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url('../../xxx/html/image/gallery1.jpg');

          "
        ></div>

        <div
          class="slider-image"
          style="
            background-image: url('../../xxx/html/image/gallery2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          "
        ></div>

        <div
          class="slider-image"
          style="
            background-image: url('../../xxx/html/image/gallery4.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          "
        ></div>

        <div
          class="slider-image"
          style="
            background-image: url('../../xxx/html/image/gallery3.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          "
        ></div>

        <div
          class="slider-image"
          style="
            background-image: url('../../xxx/html/image/gallery5.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          "
        ></div>

        <div
          class="slider-image"
          style="
            background-image: url('../../xxx/html/image/gallery6.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          "
        ></div>
      </div>
    </div>
    <!-- ===========================gallery section end============================ -->
    <!-- ===========================blog section start============================ -->
    <div class="blog-section">
      <div class="container">
        <div class="blog-top-content">
          <h2>Our Blog</h2>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="blog-item">
              <div class="image">
                <img src="../../xxx/html/image/blog1.jpg" alt="" />
              </div>
              <h3>
                <a href="../../statics/html/blog-detail.html"
                  >We Provide Our Services Whole Over The World</a
                >
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <h6>By: Admin <span>/</span> 05/02/2024</h6>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="blog-item">
              <div class="image">
                <img src="../../xxx/html/image/blog2.jpg" alt="" />
              </div>
              <h3>
                <a href="../../statics/html/blog-detail.html"
                  >We Provide Our Services Whole Over The World</a
                >
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <h6>By: Admin <span>/</span> 05/02/2024</h6>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="blog-item">
              <div class="image">
                <img src="../../xxx/html/image/blog3.jpg" alt="" />
              </div>
              <h3>
                <a href="../../statics/html/blog-detail.html"
                  >We Provide Our Services Whole Over The World</a
                >
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <h6>By: Admin <span>/</span> 05/02/2024</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ===========================blog section end============================ -->
    <!-- ===========================footer section start============================ -->
    <div class="footer-section">
      <div class="container">
        <div class="main-content">
          <div class="row">
            <div class="col-md-4">
              <div class="image">
                <img src="../../xxx/html/image/menu-logo.png" alt="" />
              </div>
              <p>
                It is a long established fact that a reader will be It is a long
                established fact that a reader will be
              </p>
            </div>
            <div class="col-md-8">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Catogaries</a></li>
                <li><a href="#"> Features</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#"> Contact</a></li>
              </ul>
              <div class="footer-icon">
                <a href="#"
                  ><i class="fa-brands fa-facebook-f" aria-hidden="true"></i
                ></a>
                <a href="#"
                  ><i class="fa-brands fa-x-twitter" aria-hidden="true"></i
                ></a>
                <a href="#"
                  ><i class="fa-brands fa-instagram" aria-hidden="true"></i
                ></a>
                <a href="#"
                  ><i class="fa-brands fa-dribbble" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="footer-bar"></div>
          <div class="cuppy-right">
            <p>Copyright @ 2025 ALL Rights Reserved. <a target="_blank" href="https://www.mobanwang.com/" title="网站模板" class="text-white">网站模板</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- ===========================footer section end============================ -->

    <!-- scroll strat============  -->
    <div class="scroll-area">
      <div class="top-wrap">
        <div class="go-top-btn-wraper">
          <div class="go-top go-top-button">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- scroll end============  -->

    <script src="../../xxx/html/assets/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="../../xxx/html/assets/js/jquery.meanmenu.js"></script>
    <script src="../../xxx/html/assets/js/theme.js"></script>
    <script src="../../xxx/html/assets/js/bootstrap.min.js"></script>
    <script src="../../xxx/html/assets/js/vendor/modernizr-3.5.0.min.js"></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/xxx/jquery.min.js"></script>

    <!-- bootstrap -->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/xxx/js/bootstrap.bundle.min.js"></script>

    <!-- owl caurosel -->
    <script src="https://cdn.bootcdn.net/ajax/libs/OwlCarousel2/2.3.4/xxx/owl.carousel.min.js"></script>

    <script src="../../xxx/html/assets/js/script.js"></script>
  </body>
</html>
